.evo_c_multiLayers_container {
    margin: 30px;
    width: 50%;
    height: auto;
    display: block;
    flex-direction: column;
}

.evo_c_multiLayers_container section {
    transition: all 1s ease-in-out;
}

.evo_c_multiLayers_container section {
    z-index: -1;
}

.evo_c_multiLayers_container section:nth-child(1) {
    background: lightblue;
    /*order: 1;*/
    /*z-index: 1;*/
    /*right: 0px;*/
    /*top:0px;*/
}

.evo_c_multiLayers_container section:nth-child(2) {
    background: bisque;
    /*order: 2;*/
    /*z-index: 2;*/
    /*left: 30px;*/
    /*top:-550px;*/
}

.evo_c_multiLayers_container section:nth-child(3) {
    /*order: 3;*/
    /*z-index: 3;*/
    /*left: 60px;*/
    /*top:-1100px;*/
}

.evo_c_multiLayers_container section:nth-child(4) {
    /*order: 4;*/
    /*z-index: 4;*/
    /*left: 90px;*/
    /*top:-1650px;*/
}

.evo_c_multiLayers_layer {
    display: block;
    position: absolute;
    height: 500px;
    width: 50%;
    margin: 40px;
    border: 1px solid black;
}

.evo_c_multiLayers_layer {

}
